<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.kuama.documentscanner">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.front.autofocus" />
    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".presentation.ScannerApplication"
        android:allowBackup="true"
        android:exported="true"
        android:supportsRtl="true"
        android:theme="@style/DsTheme.AppCompat.Light.NoActionBar.FullScreen">
        <activity
            android:name=".presentation.ScannerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DsTheme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".presentation.CropperActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DsTheme.AppCompat.Light.NoActionBar.FullScreen"/>
    </application>

</manifest>